<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     -->
      <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}" />
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Sweet alert Js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" />
   <!-- responsive style -->
   <link href="{{url_for('static',filename='css/responsive.css')}}" rel="stylesheet" />
   
    <link rel="stylesheet" href="{{url_for('static',filename='css/w3.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <title>Fact Checker</title>
    
</head>
<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
          <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="/">
                <img src="{{url_for('static',filename='images/logo1.png')}}" alt="">
                <span>
                  Fact Checker
                </span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="about.html"> About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="service.html"> Service </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="blog.html"> Blog </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">Contact </a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </header>
        <!-- end header section -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-3">
                <div class="hero-img">
                    <a href="/">
                        <img src="{{url_for('static',filename='images/logo.png')}}">
                    </a>
                    <h1>Fake News Checkers</h1>
                </div>
                <div class="m-2">
                    <!-- Begin alerts -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <script>
                        Swal.fire({

                            title:"{{ category.title() }}!",
                            // success , error , warning ,info

                            text: "{{ message }}",
                            // Custom message flashed from your flask routes

                            icon: "{{ category }}" == "danger" ? "error" : "{{ category }}"
                            // success , error , warning ,info

                        })

                    </script>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <!-- End alerts -->
                </div>
                
                
                <div class="w3-container">
                    <form action="{{ request.path }}" method="POST" > 
                        <input type="url" id="urltext" name="urltext" class="w3-input w3-border" placeholder="https://example.com" pattern="https://.*" required>
                        <button class="w3-btn w3-blue w3-border" id ="purple" type="submit"  ">Scrap<i class="bi bi-search m-2"></i></button>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Pull Specific Elements' content</p>
                                <input type="text" id="specificElement" name="specificElement" class="w3-input w3-border" placeholder="Tag name e.g img,h2,td" required>
                                <div id="loading" style="margin-top:2px ; "></div>
                                <div id="content">
                                <a href="/predict" onclick="loading();">
                                    <button type="button" class="button-1" style="margin-top:2px ;"> Predict</button>
                                </a>
                            </div>
                                <div class="results">

                                    {% if prediction == ['FAKE']%}
                                    <h2 style="color:red;">Fake News </h2>
                                    {% elif prediction == ['REAL']%}
                                                <h2 style="color:green;"><b>True News</b></h2>
                                    {% endif %}
                                
                                </div>

                            </div>
                            <div class="col-md-8">
                                <p><span class="badge bg-success">{{ counter }}</span> Scrap Results for <a href="{{ url }}"> {{ url }}</a> </p>
                                <div class="bg-white shadow p-4 rounded results">
                                    {% if results %}
                                    {% for result in results %}
                                    <p> {{ result | striptags }} </p>
                                    {% endfor %}
                                    {% endif %}
                                    {% for path in image_paths %}
                                    <a href=" {{  path }} "> <img src=" {{ path }} " class="img"> </a>
                                    {% endfor %}
                                </div>
                                {% if image_paths %}
                                <a href="{{url_for('downloader')}}" class="btn btn-primary m-2" id="download">Download
                                    Images<i class="bi bi-cloud-arrow-down-fill m-2"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    
                    
                </div>
            
        </div>
        </div>
        
    </div>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <script>
        document.onreadystatechange = function () {
            if (document.readyState !== "complete") {
                document.querySelector(
                    "body").style.visibility = "hidden";
                document.querySelector(
                    "#loader").style.visibility = "visible";
            } else {
                document.querySelector(
                    "#loader").style.display = "none";
                document.querySelector(
                    "body").style.visibility = "visible";
            }
        };
    </script> -->
    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>
</body>
</html>